* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  font-size: medium;
}
nav ul li {
  padding: 0 16px;
}
.brand {
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: bolder;
  font-size: 1.3rem;
}

.brand img {
  height: 50px;
  width: 50px;
  padding: 0 8px;
}
.container {
  min-height: 46.7vh;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border: 12px solid;
  padding: 10px;
  background-image: url("Spotify\ backgroung\ img.jpg");
}

.buttom {
  background-color: black;
  color: white;
  height: 130px;
  position: sticky;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
#myprogressbar {
  width: 80vw;
  margin-left: 90px;
}
.icons {
  margin: 34px;
}
.icons i {
  cursor: pointer;
}
